@mixin penis {
    margin: 0;
    padding: 0;
    // background: linear-gradient(#865ffb, #6b546d);
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidde


}