:root {
    --main-icon-color: #dabfbf;
    --main--font-color: #f0f0f0;
    --sub--font-color: #808080;
    --active_border_color: rgb(35, 33, 41);
    --diactive--border-color: rgb(40, 39, 48);
}

#display_all_profile {
    background: var(--diactive--border-color);
}

#user_icon_menu_bar {
    background: var(--active_border_color);
}

#user_icon {
    background-color: var(--sub--font-color);
}

.menu_item {
    color: var(--sub--font-color);
    border-bottom: 1px inset var(--sub--font-color);
}

.menu_item:hover {
    background: var(--diactive--border-color);
    border: none;
}