@import './catppuccin.css';

* {
                font-family: monospace;
}

body {
                background: var(--primary-background-color);
                font-family: monospace;
                margin: 0;
                padding: 0;
}

#main_container {
                height: 100vh;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 15% 70% 15%;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
}

header {
                background: (var--primary-background-color);
                color: var(--header-text-color);
                display: flex;
                align-items: center;
                padding: 0 20px;
}

header h1 {
                width: 50%;
                left: 0;
                display: flex;
                font-size: 3rem;
                letter-spacing: 5px;
                justify-content: center;
                align-items: center;
}

header h1 #site_name {
                text-align: center;
                text-decoration: none;
                align-items: center;
}

header nav {
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-right: 50px;
}

.nav_icon1 {
                color: var(--nav-icon-1);
}

.nav_icon2 {
                color: var(--nav-icon-2);
}

.nav_icon3 {
                color: var(--nav-icon-3);
}

.nav_icon4 {
                color: var(--nav-icon-4);
}

header nav div {
                text-decoration: none;
                font-size: 1.3rem;
}

#code_play_main_container {
                display: flex;
                width: 60%;
                height: 100%;
                margin: 0 auto;
                font-size: 2rem;
                border: solid 1px var(--header-text-color);
}

#code_play_main_container #code_display_container code {
                width: 100%;
                height: 100%;
}

#code_play_main_container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
}

#code_display_container {
                width: 90%;
                height: 80%;
                margin: 10% 5%;
                font-size: 1.5rem;
                font-family: 'Courier New', Courier, monospace;
                padding: 1rem;
                border-radius: 5px;
}

.each_line_elm {
                display: block;
}

.each_char_elm {
                display: inline-block;
                color: var(--play-non-typed-color);
}

.non_typed {
                color: var(--play-non-typed-color);
}

.correct {
                color: var(--play-correct-color);
}

.incorrect {
                color: var(--play-incorrect-color);
}

#type_input {
                position: absolute;
                background: transparent;
                text-decoration: none;
                outline: none;
                border: none;
                resize: none;
                width: 0;
                height: 0;
                cursor: none;
}