:root {
    --ctp-rosewater: #f5e0dc;
    --ctp-flamingo: #f2cdcd;
    --ctp-pink: #f5c2e7;
    --ctp-mauve: #cba6f7;
    --ctp-red: #f38ba8;
    --ctp-maroon: #eba0ac;
    --ctp-peach: #fab387;
    --ctp-yellow: #f9e2af;
    --ctp-green: #a6e3a1;
    --ctp-teal: #94e2d5;
    --ctp-sky: #89dceb;
    --ctp-sapphire: #74c7ec;
    --ctp-lavender: #b4befe;
    --ctp-blue: #89b4fa;
    --ctp-text: #cdd6f4;
    --ctp-subtext1: #bac2de;
    --ctp-subtext0: #a6adc8;
    --ctp-overlay2: #9399b2;
    --ctp-overlay1: #7f849c;
    --ctp-overlay0: #6c7086;
    --ctp-surface2: #585b70;
    --ctp-surface1: #45475a;
    --ctp-surface0: #313244;
    --ctp-base: #1e1e2e;
    --ctp-mantle: #181825;
    --ctp-crust: #11111b;
    --shadow: #010409;
    --ctp-accent: var(--ctp-maroon);
    color-scheme: dark;
}

:root,
.dark {
    --body-background-fill: var(--background-fill-primary);
    --body-text-color: var(--ctp-subtext0);
    --color-accent-soft: var(--ctp-surface0);
    --background-fill-primary: var(--ctp-mantle);
    --background-fill-secondary: var(--ctp-base);
    --border-color-accent: var(--ctp-surface0);
    --border-color-primary: var(--ctp-surface1);
    --link-text-color-active: var(--ctp-subtext0);
    --link-text-color: var(--ctp-subtext0);
    --link-text-color-hover: var(--ctp-accent);
    --link-text-color-visited: var(--ctp-subtext0);
    --body-text-color-subdued: var(--ctp-subtext0);
    --shadow-spread: 1px;
    --block-background-fill: var(--ctp-mantle);
    --block-border-color: var(--border-color-primary);
    --block_border_width: None;
    --block-info-text-color: var(--body-text-color-subdued);
    --block-label-background-fill: var(--background-fill-secondary);
    --block-label-border-color: var(--border-color-primary);
    --block_label_border_width: None;
    --block-label-text-color: var(--ctp-text);
    --block_shadow: None;
    --block_title_background_fill: None;
    --block_title_border_color: None;
    --block_title_border_width: None;
    --block-title-text-color: var(--ctp-text);
    --panel-background-fill: var(--background-fill-secondary);
    --panel-border-color: var(--border-color-primary);
    --panel_border_width: None;
    --checkbox-background-color: var(--ctp-surface1);
    --checkbox-background-color-focus: var(--checkbox-background-color);
    --checkbox-background-color-hover: var(--checkbox-background-color);
    --checkbox-background-color-selected: var(--ctp-accent);
    --checkbox-border-color: var(--ctp-surface0);
    --checkbox-border-color-focus: var(--ctp-overlay0);
    --checkbox-border-color-hover: var(--ctp-surface0);
    --checkbox-border-color-selected: var(--ctp-overlay0);
    --checkbox-border-width: var(--input-border-width);
    --checkbox-label-background-fill: var(--ctp-surface0);
    --checkbox-label-background-fill-hover: var(--ctp-surface0);
    --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
    --checkbox-label-border-color: var(--border-color-primary);
    --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
    --checkbox-label-border-width: var(--input-border-width);
    --checkbox-label-text-color: var(--body-text-color);
    --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
    --error-background-fill: var(--background-fill-primary);
    --error-border-color: var(--border-color-primary);
    --error_border_width: None;
    --error-text-color: var(--ctp-red);
    --input-background-fill: var(--ctp-base);
    --input-background-fill-focus: var(--input-background-fill);
    --input-background-fill-hover: var(--input-background-fill);
    --input-border-color: var(--border-color-primary);
    --input-border-color-focus: var(--neutral-700);
    --input-border-color-hover: var(--input-border-color);
    --input_border_width: None;
    --input-placeholder-color: var(--neutral-500);
    --input_shadow: None;
    --input-shadow-focus: 0 0 0 var(--shadow-spread) var(--neutral-700),
        var(--shadow-inset);
    --loader_color: None;
    --slider_color: None;
    --stat-background-fill: linear-gradient(to right,
            var(--primary-400),
            var(--primary-600));
    --table-border-color: var(--neutral-700);
    --table-even-background-fill: var(--neutral-950);
    --table-odd-background-fill: var(--neutral-900);
    --table-row-focus: var(--color-accent-soft);
    --button-border-width: var(--input-border-width);
    --button-cancel-background-fill: var(--ctp-red);
    --button-cancel-background-fill-hover: var(--ctp-red);
    --button-cancel-border-color: var(--ctp-red);
    --button-cancel-border-color-hover: var(--button-cancel-border-color);
    --button-cancel-text-color: var(--ctp-base);
    --button-cancel-text-color-hover: var(--button-cancel-text-color);
    --button-primary-background-fill: var(--ctp-accent);
    --button-primary-background-fill-hover: var(--ctp-accent);
    --button-primary-border-color: var(--ctp-accent);
    --button-primary-border-color-hover: var(--button-primary-border-color);
    --button-primary-text-color: var(--ctp-base);
    --button-primary-text-color-hover: var(--button-primary-text-color);
    --button-secondary-background-fill: var(--ctp-surface0);
    --button-secondary-background-fill-hover: var(--ctp-surface0);
    --button-secondary-border-color: var(--ctp-surface0);
    --button-secondary-border-color-hover: var(--button-secondary-border-color);
    --button-secondary-text-color: var(--ctp-text);
    --button-secondary-text-color-hover: var(--button-secondary-text-color);
}

